h2 {
  font-weight: bold;
  color: #3e2723;
  font-family: "Courier New", Courier, monospace;
}
body {
  background: #5d4037;
}
p,
a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 1px;
  color: #8d6e63;
}
p {
  max-width: 800px;
}
a {
  text-decoration: none;
  border: #8d6e63 2px solid;
  padding: 5px;
}
a:hover {
  background: #8d6e63;
  color: #5d4037;
}
.Result strong {
  color: #3e2723;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 10px 23px 9px;
}
